	* {
	margin: 0px;
	}

	body {
		background-color: #eef;
	}

	a {
		color: #428bca;
		text-decoration: none;
	}

	a:hover {
		color: #2a6496;
		text-decoration: underline;
	}

	header {
		margin: auto;
		width: 100%;
		height: 600px;
		background-image: url("img/img1.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		
		max-width: 2000px;
	}

	#buthidehead {
		margin: 0 auto;
		width: 100%;
		max-width: 2000px;
		height: 35px;
		background-image: url("../img/button/down.png");
		background-size: contain;
		background-position: right;
		background-repeat: no-repeat;
	}





							/*menu*/



	#menu {
		width: 800px;
		margin: 0 auto;

	}
	#menu ul li {
		float: left;
		list-style:none;
		width: 200px;
		line-height: 90px;
		background-color: #473E3F;
		text-align: center;
		font-size: 25px;
		color: #FC3;
		cursor: default;
		
	}
	
	#menu ul li:hover {
		color: #F20;
		background-color: #000;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;	
	}

	#menu ul li:last-child {
		border-bottom-right-radius: 100px;
		border-top-right-radius: 60px;
	}

	#menu ul li:first-child {
		border-bottom-left-radius: 100px;
		border-top-left-radius: 60px;
	}

		#menu ul li a {
		text-decoration:none;
		color: #3Cf;
		display: block;
	}

	#menu ul li a:hover {
		color: #F20;
		background-color: #000;
		-webkit-transition: all 1s;
		transition: all 1s;
	}

	#menu ul li a:hover:last-child {
		border-bottom-right-radius: 100px;
		border-top-right-radius: 60px;
	}

	#menu ul li a:hover:first-child {
		border-bottom-left-radius: 100px;
		border-top-left-radius: 60px;
	}








							/*fixedMenu*/

	
	#blockmenu {
		background: transparent;
		margin: 50px auto;
		width: 100%;
		max-width: 2000px;
		height: 1px;

	}



	#blockmenu.scrolldown {
		margin: auto;
		position: fixed;
		top: 0px;
		height: 40px;
		background-color: #473E3F;
		-webkit-transition: height 0.6s;
		transition: height 0.6s;
	}



	#menu.scrolldown {
		margin: 0px auto;
		width: 800px;
	}

	#menu ul li.scrolldown {
		line-height: 40px;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;	
			
	}

	#title {
		margin: 200px auto;
		text-align: center;
		font-size: 2em;
		letter-spacing: 0.3em;
	}






								/*content*/



								/*titlename*/
	#postfull {
		margin: auto;
		width: 100%;
		max-width: 2000px;
		height: auto;
	}

	#postfull #titlename{
		float: left;
		margin-top: -5px;
		line-height: 10px;
		text-align: center;
		margin-left: 20px;


	}

	#postfull #titlename ul li {
		width: 170px;
		list-style: none;
		line-height: 40px;
		cursor: pointer;
		-webkit-transition: all 0.6s;
		transition: all 0.6s;
	}

	#postfull #titlename ul li:hover {
		border-left: 2px solid #2cf;
		background-color: #473E3F;
		color: #2cf;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}

	#postfull #titlename ul li:first-child:hover {
		border: none;
		left: 0px;
		background-color: transparent;
		color: #000;
		cursor: default;

	}






							/*fixed*/
	#postfull #titlename.fixed {
		
		position: fixed;
		top: 40px;
		
		

	}



	.active {
		border-right: 1px solid #000;
	}






							/*discription*/
	.post {
		margin: 50px auto;
		width: 80%;
		max-width: 900px;
		height: auto;
		background-color: #ccc;
		border-radius: 10px;
		padding: 25px;
		padding-bottom: 35px;
		box-shadow: -3px 3px 10px rgba(0,0,0,0.5);
		line-height: normal;
		}


	.post h1 {
		width: 80%;
		margin: auto;
		color: #2cf;
		text-align: center;
		font-size: 1.5em;
		background-color: #473E3F;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
		cursor: default;



	}

	.post h1 a{
		color: #2cf;
		background-color: #473E3F;
		display: block;
		text-decoration: none;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 100px;
		border-bottom-left-radius: 100px;
	}

	.post h1 a:hover{
		color: #fc2;
		background-color: #473E3F;

	}

	.post p {
		font-size: 1.2em;
		text-align: justify;
		padding-top: 50px;
	}

	.post img {
		width: 90%;
		max-width: 810px;
		margin: 10px;
	}










							/*pageList*/

	#pagelistcenter {
		width: 100%;
		max-width: 2000px;
		
	}

	#pagelist {
		margin: 25px auto;
		width: 160px;
	}

	#pagelist ul li {
		float: left;
		list-style: none;
		margin-left: 25px;
		text-align: center;
		width: 10px;
		font-size: 20px;


	}


	#pagelist ul li a {
		text-decoration: none;
		display: block;
		color: #f55b2c;
	}

	#pagelist ul li a:hover {
		text-decoration: underline;
		color: #11f;
	}





						/*footer*/

	footer {
		margin: 65px auto;
		width: 85%;
		max-width:1080px;
		height: 300px;
		clear: both;
		

		
		border-top: 2px solid #ddd;
	}

	#footer h2 {
		margin-top: 150px;
		font-size: 1.22em;
		color: #aaf;
		text-align: center;
	}





							/*categories*/

	#content {
		margin: auto;
		width: 90%;
		max-width: 1800px;
		height: auto;

	}

	#last {
		float: right;
		width: 30%;
		max-width: 540px;
		height: auto;
		border: 1px solid #ddd;
		border-radius: 10px;

	}

	#last ul li, #content ul li {
		padding-left: 20px;
		/*list-style: none;*/
		line-height: 50px;
		border-bottom: 1px solid #ddd;
	}

	#last ul li:first-child, #content ul li:first-child {
		background-color: #bbb;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	#all {
		width: 60%;
		max-width: 1080px;
		height: auto;
		margin-bottom: 100px;

	}

	#all .theme {
		margin-bottom: 50px;
		border: 1px solid #ddd;
		border-radius: 10px;

	}






							/*gallery*/

	#gallery-wrapper {
		width: 75%;
		max-width: 2000px;
		height: auto;
		margin: 50px auto;
		background-color: #ccc;
		border-radius: 10px;
		box-shadow: -3px 3px 10px rgba(0,0,0,0.5);

	}

	#gallery-wrapper ul {
		margin: auto;
		width: 967px;
		height: 1000px;
		

	}

	#gallery-wrapper ul li {
		float: left;
		margin: 10px;
		list-style: none;
	}

	#gallery-wrapper ul li img{
		height: 300px;
		width: 300px;
		border-radius: 15px;
		border: 1px solid #000;
		box-shadow: -3px 3px 10px #000;

	}